CLIENT_URL= http://localhost:5173/

DATABASE_URL=
PORT=

# JWT Configuration
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

SAL=

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret


EMAIL_USER=
EMAIL_PASS=
